/*
    Info color:
        Positive: done, completed
        Green - #128B44;
        
        Neutral: help, notification
        Blue - #2C71B9;

        Cautionary: alert, attention, warning
        Yellow - #FDC214;
        
        Negative: error, disconnected
        Red - #D82429;

    Every space and dimension should be a multiply of 4
*/

.color-green {
    color: #128B44;
}

.color-blue {
    color: #2C71B9;
}

.color-yellow {
    color: #FDC214;
}

.color-red {
    color: #D82429;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
    font-family: "Segoe UI", sans-serif;
    font-weight: 200;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

.horizontal-center {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.vertical-center {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#logo-img {
    padding-left: 12px;
}

/* Top menu */
.win-pivot-header-area {
    background-color: #376996;
    height: 48px;
}

.win-pivot-header-items {
    height: 48px;
}

/* Right panel */
.win-splitview-pane {
    background-color: #0288d1;
}

/* 
 * Pivot style
 *
 * Remove Scroll from Pivotitem-content 
 *
*/
.win-pivot-item {
    width: 33.4%;
}

    .win-pivot-item .win-pivot-item-content {
        margin: 0;
        padding: 0;
    }

.win-pivot-item, .win-pivot-viewport {
    overflow-y: scroll;
}

/* Remove margin-top: 13px from left header item */
.win-pivot-header-area > .win-pivot-header-leftcustom {
    margin: 0;
}

.win-toolbar .win-toolbar-actionarea {
    background: transparent;
}

.win-toolbar .win-toolbar-overflowarea {
    background-color: rgb(74, 61, 78);
    border: 0;
}

/* Main Page */
.main-page {
    display: -ms-grid;
    -ms-grid-columns: 4fr 1fr;
    -ms-grid-rows: 48px 100%;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* Toolbar */
.toolbar {
    position: relative;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    background-color: #1d3461;
}

.toolbar-btn {
    padding: 12px;
    cursor: pointer;
    opacity: 0.6;
}

    .toolbar-btn:hover {
        opacity: 1;
    }

.toolbar-btn-right {
    position: absolute;
    right: 0px;
}

.toolbar-btn-left {
    position: absolute;
    left: 0px;
}

button.win-splitviewpanetoggle::after {
    font-size: 20px;
}

/* File browser */
#file-browser {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
}

.loading-line {
    top: 0px;
    width: 100%;
    height: 0.4%;
    background-color: brown;
    display: none;
}

li {
    width: 200px;
    min-height: 250px;
    border: 1px solid #000;
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    zoom: 1;
    *display: inline;
    _height: 250px;
}

/* End File Browser */
.clouds-authorization-panel {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    -ms-grid-row-span: 2;
    list-style: none;
    background-color: #1d3461;
}

.auth-panel-btn {
    width: 100%;
    margin: 1px 0px;
    line-height: 3;
}

.auth-panel-title {
    padding: 14px;
}

.google-drive-auth img, .onedrive-auth img {
    width: 48px;
    height: 48px;
    float: left;
}

.img-circle {
    border-radius: 50%;
}

.drag-n-drop-msg {
    color: #000;
    font-size: 24px;
    opacity: 0.4;
}

/* Categories */
.categories {
    position: absolute;
    width: 100%;
    top: 0;
    padding: 0.5em 0 0.5em 0.5em;
}

#name-category {
    float: left;
    text-align: left;
}

#path-category {
    text-align: right;
}

/* Work with file */
.file:hover {
    cursor: pointer;
    background-color: #607286;
}

/* Settings Page */
.settings-page {
    color: #000;
}

.delete-db-panel {
    position: absolute;
    width: 100%;
    bottom: 0px;
    padding: 24px;
    background-color: #fdc214;
    color: #fff;
    text-align: center;
}

/* Google Drive Page */
