@charset "UTF-8";
/*
    Info color:
        Green - #128B44; Positive: done, completed
        Blue - #2C71B9; Neutral: help, notification
        Yellow - #FDC214; Cautionary: alert, attention, warning            
        Red - #D82429; Negative: error, disconnected

    Every space and dimension should be a multiply of 4

Position of elements:

N. Global elements; 
   Rewrites standard elements
    ---- html body
    ---- img 

    ---- win-pivot
    ---- win-button
    ---- win-toolbar
    ---- win-navbarcommand-button-content
    ---- win-listview 

I. Main Page; Pivot
    ---- .main-page

II. Appbar block
    ---- .app-bar 

III. File browser block
                ---- #fileBrowser
                    ---- .left-header-template-root
                    
                    ---- .listview-template-item
                    ---- .listview-template-item-icon
                    ---- .listview-template-item-detail
                    ---- .listview-template-item-title
                    ---- .listview-template-item-date

                    ---- .zoomed-out-item
                
IV. Panel block
                ---- .clouds-authorization-panel #authPanel
                    ---- .panel-head
                        ---- #hamburgerBtn
                        ---- .auth-panel-btn .auth-panel-btn:hover
                        ---- .cloud-avatar
                        ---- .img-circle
                
                ---- .undo-changes #undoChangeLine
                    ---- #undoChangeBtn .undo-change-btn
                    ---- #closeUndoPanelBtn .close-undo-line-btn

@. Media
    ---- @media only screen and (max-width: 500px)
*/

/*
*   N. Global elements;
*      Rewrites standard elements
*/
html, body {
    width: 100%;
    height: 100%;
    background-color: ghostwhite;
    font-family: 'Segoe UI';
}

/* Make image responsive http://www.w3schools.com/css/css_rwd_images.asp */
img {
    max-width: 100%;
    height: auto;
}

.win-pivot-header-area {
    background-color: #fff;
    border-bottom: 1px solid #cecece;
    height: 48px; /* value by default is 52px */
}

.win-pivot .win-pivot-navbutton {
    height: 48px;
    top: 0;
}

/* Remove Scroll from Pivotitem-content */
.win-pivot .win-pivot-surface {
    width: 100%;
    height: 100%;
    position: relative;
}

.win-pivot-item {
    position: relative;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    left: 0 !important;
}

    .win-pivot-item .win-pivot-item-content {
        margin: 0;
        padding: 0;
    }

/* Remove background and padding-right in hamburger button on AuthPanel */
#hamburgerBtn .win-navbarcommand-button-content {
    padding-right: 0;
    position: absolute;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: #000;
}

/* Remove backgrounds from list view items and navbar buttons */
.win-listview .win-itembox, .win-itemcontainer .win-itembox,
.win-navbarcommand-button, .win-navbarcommand-splitbutton {
    background-color: transparent;
}

/* Make WinJS.UI.AutoSuggestBox flyout is visible */
.win-commandingsurface .win-commandingsurface-actionareacontainer,
.win-commandingsurface .win-commandingsurface-actionarea {
    overflow: visible;
}

/* Add margin 8px to the top and bottom of search box 
    (by default it's ignored from original styles) */
.win-autosuggestbox .win-autosuggestbox-input {
    margin: 8px 0;
    width: 100%;
}

/* Change from relative to absolute */
#splitView {
    position: absolute;
}

/*
*   I. Main Page; Pivot
*/
.main-page, .minimized-panel {
    /*ignore jslint start*/
    display: -ms-grid;
    -ms-grid-columns: 256px 1fr;
    -ms-grid-rows: 48px 1fr 48px;
    /*ignore jslint end*/
    width: 100%;
    height: 100%;
}

#pivot {
    position: relative;
    /*ignore jslint start*/
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    -ms-grid-row-span: 2;
    /*ignore jslint end*/
}

.minimized-panel {
    /*ignore jslint start*/
    -ms-grid-columns: 48px 1fr;
    /*ignore jslint end*/
}
    /* Remove Text when authorization panel is hidden */
    .minimized-panel .auth-btn-text {
        display: none;
    }

    /* Remove scroll and fixed height in minimized panel */
    .minimized-panel .panel-body {
        width: 100%;
        height: auto;
        overflow: auto;
        background-color: transparent;
    }

    .minimized-panel .panel-footer {
        display: none;
    }

    .minimized-panel .zoomed-out-btn {
        display: block;
    }

/*
*   II. Appbar block
*/
.app-bar {
    /*ignore jslint start*/
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    /*ignore jslint end*/
    position: relative;
    width: 100%;
    transform: translateZ(0px);
    z-index: 1003;
}

/*
*   III. File browser block
*/
.win-listview .win-container {
    color: #000;
}

#zoomedInListView {
    background-color: #e6f1f7;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.zoomed-out-item {
    color: #000;
    width: 48px;
    height: 48px;
    text-align: center;
    line-height: 8pt;
    white-space: nowrap;
    font-size: 12pt;
}

.listview-template-item {
    /*ignore jslint start*/
    display: -ms-grid;
    /*ignore jslint end*/
    position: relative;
    width: 18em;
    height: 4em;
    line-height: 4em;
}

    .listview-template-item .listview-template-item-icon {
        font-family: "Segoe MDL2 Assets", "Symbols";
        font-size: xx-large;
        /*ignore jslint start*/
        -ms-grid-column: 1;
        /*ignore jslint end*/
    }

    .listview-template-item .listview-template-item-detail {
        margin: 5px;
        line-height: 2em;
        /*ignore jslint start*/
        -ms-grid-column: 2;
        /*ignore jslint end*/
    }

.listview-template-item-title {
    font-weight: 600;
}

.listview-template-item-date {
    font-size: small;
    margin: 0;
    line-height: 1em;
}

.left-header-template-root {
    color: #000;
    width: 50px;
    height: 50px;
    padding: 8px;
}

/*
*   IV. Panel block
*/
.clouds-authorization-panel {
    position: relative;
    display: table;
    /*ignore jslint start*/
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-row-span: 4;
    /*ignore jslint end*/
    height: 100%;
    border-right: 1px solid #cecece;
}

.panel-head {
    width: 100%;
    height: 48px;
}

.panel-body {
    width: 100%;
    height: 162px;
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 0.1);
}

.panel-footer {
    display: table-footer-group;
    width: 100%;
}

.zoomed-out-btn {
    display: none;
}

.auth-panel-btn, .auth-panel-btn:hover {
    border: none;
    height: 48px;
    width: 100%;
    color: #000;
}

    .auth-panel-btn:hover {
        background-color: rgba(0, 0, 0, 0.3);
        cursor: pointer;
    }

.cloud-avatar {
    width: 24px;
    letter-spacing: 0;
    vertical-align: middle;
    font-size: 16px;
    margin: 0;
    line-height: 24px;
    background-position: 0 0;
    background-origin: border-box;
    height: 24px;
    float: left;
    margin-left: 0;
}

.img-circle {
    border-radius: 50%;
}

.auth-btn-text {
    text-align: left;
    text-indent: 1.2em;
    margin: 0;
    width: 100%;
}

.setting-btn {
    border-top: 1px solid #cecece;
    bottom: 0;
    position: fixed;
}

.undo-changes {
    position: absolute;
    width: 100%;
    height: 48px;
    background-color: #FDC214;
    color: #000;
    bottom: 0;
    display: none;
}

.undo-change-btn {
    width: 144px;
    height: 48px;
    margin-left: 1em;
    color: #112233;
}

.close-undo-line-btn {
    position: absolute;
    right: 0;
    height: 48px;
    width: 48px;
    color: #112233;
}

/* Settings Split View */
.title {
    display: inline;
    font-size: x-large;
    left: 16px;
    top: 10px;
    vertical-align: top;
    position: relative;
}

.nav-commands {
    margin-top: 24px;
}

.nav-commands-body {
    padding: 0 15px;
}

/* @Media */
@media only screen and (max-width: 500px) {
    .auth-btn-text {
        display: none;
    }
}