/*
    Info color:
        Green - #128B44; Positive: done, completed
        Blue - #2C71B9; Neutral: help, notification
        Yellow - #FDC214; Cautionary: alert, attention, warning            
        Red - #D82429; Negative: error, disconnected

    Every space and dimension should be a multiply of 4

Position of elements:

N. Global elements; 
   Rewrites standard elements
    ---- html body
    ---- img 

    ---- win-pivot
    ---- win-button
    ---- win-toolbar
    ---- win-navbarcommand-button-content
    ---- win-listview 

I. Main Page; Pivot
        ---- #pivot
            ---- #headLogoImg
            ---- .main-page #mainPage

II. Toolbar block
                ---- .toolbar
                    ---- #startSyncFilesBtn .toolbar-btn .toolbar-btn-left
                    ---- #toolbarAddFilesBtn .tooblar-btn .toolbar-btn-right
                
III. File browser block
                ---- #fileBrowser
                    ---- .left-header-template-root
                    
                    ---- .listview-template-item
                    ---- .listview-template-item-icon
                    ---- .listview-template-item-detail
                    ---- .listview-template-item-title
                    ---- .listview-template-item-date

                    ---- #semanticZoom
                        ---- .zoomed-out-item
                
IV. Panel block
                ---- .clouds-authorization-panel #authPanel
                    ---- .panel-head
                        ---- #hamburgerBtn
                        ---- .auth-panel-btn .auth-panel-btn:hover
                        ---- .cloud-avatar
                        ---- .img-circle
                        ---- .online .offilne
                
                ---- .undo-changes #undoChangeLine
                    ---- #undoChangeBtn .undo-change-btn
                    ---- #closeUndoPanelBtn .close-undo-line-btn

V. Settings Page
    ---- .settings-page
        ---- .information-panel
            ---- #storageQuota
            ---- #usage
            
            ---- #cloudService-webview
                ---- #icon
                ---- #output

        ---- .delete-db-panel .horizontal-center
            ---- #destroyUserDB .delete-db-btn

@. Media
    ---- @media only screen and (max-width: 500px)
*/

/*
*   N. Global elements;
*      Rewrites standard elements
*/
html, body {
    width: 100%;
    height: 100%;
    background-color: ghostwhite;
    margin: 0;
}

/* Make image responsive http://www.w3schools.com/css/css_rwd_images.asp */
img {
    max-width: 100%;
    height: auto;
}

.win-pivot-header-area {
    background-color: #fff;
    border-bottom: 1px solid #cecece;
    height: 48px; /* value by default is 52px */
    color: #000;
}

.win-pivot .win-pivot-navbutton {
    height: 48px;
    top: 0;
}

/* Remove Scroll from Pivotitem-content */
.win-pivot .win-pivot-surface {
    width: 100%;
    height: 100%;
    position: relative;
}

.win-pivot-item {
    position: relative;
    top: 0px;
    bottom: 0px;
    height: 100%;
    width: 100%;
    left: 0 !important;
}

    .win-pivot-item .win-pivot-item-content {
        margin: 0;
        padding: 0;
    }

/* Remove margin-top: 13px from left header item */
.win-pivot-header-area > .win-pivot-header-leftcustom {
    margin: 0;
}

/* Make button resizable */
.win-button {
    min-width: 0px;
}

/* remove background and padding from right in hamburger button on auth panel */
#hamburgerBtn .win-navbarcommand-button-content {
    padding-right: 0;
    position: absolute;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: #000;
}

/* Remove backgrounds from list view items and navbar buttons */
.win-listview .win-itembox, .win-itemcontainer .win-itembox {
    background-color: transparent;
}

.win-navbarcommand-button, .win-navbarcommand-splitbutton {
    background-color: transparent;
}

.win-autosuggestbox .win-autosuggestbox-input {
    -ms-ime-align: after;
    margin: 8px;
    width: 100%;
}


/*
*   I. Main Page; Pivot
*/
#headLogoImg {
    padding-left: 12px;
}

.main-page, .minimized-panel {
    display: -ms-grid;
    -ms-grid-columns: 320px 1fr;
    -ms-grid-rows: 48px 1fr 48px;
    width: 100%;
    height: 100%;
}

#pivot {
    position: relative;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    -ms-grid-row-span: 2;
}

.minimized-panel {
    -ms-grid-columns: 48px 1fr;
}
    /* Remove Text when authorization panel is hidden */
    .minimized-panel .auth-btn-text {
        display: none;
    }

    /* Remove scroll and fixed height in minimized panel */
    .minimized-panel .panel-body {
        width: 100%;
        height: auto;
        overflow: auto;
        background-color: transparent;
    }

    .minimized-panel .panel-footer {
        display: none;
    }

    .minimized-panel .zoomed-out-btn {
        display: block;
    }

/*
*   II. Toolbar block
*/

.app-bar {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    position: relative;
    width: 100%;
    transform: translateZ(0px);
    z-index: 1003; /* remove stacking content from appBar */
}

.customAppBar {
    position: fixed;
}

.toolbar-btn {
    font-family: "Segoe UI", sans-serif;
    position: absolute;
    cursor: pointer;
    background-color: transparent;
}

    .toolbar-btn:hover {
        opacity: 1;
    }

.toolbar-btn-right {
    right: 0;
}

.toolbar-btn-left {
    left: 0;
}

.toolbar-btn-center {
    left: 50%;
    right: 50%;
}

/*
*   III. File browser block
*/

/* Template for the items in the ListViews */
.win-listview .win-container {
    color: #000;
}

#zoomedInListView {
    position: absolute;
    background-color: #e6f1f7;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* Template for items in the zoomed out ListView */
.zoomed-out-item {
    color: #000;
    width: 48px;
    height: 48px;
    text-align: center;
    line-height: 8pt;
    white-space: nowrap;
    font-size: 12pt;
}

.listview-template-item {
    position: relative;
    width: 18em;
    height: 4em;
    line-height: 4em;
    display: -ms-grid;
}

    .listview-template-item .listview-template-item-icon {
        font-family: "Segoe MDL2 Assets","Symbols";
        font-size: xx-large;
        -ms-grid-column: 1;
    }

    .listview-template-item .listview-template-item-detail {
        margin: 5px;
        line-height: 2em;
        -ms-grid-column: 2;
    }

.listview-template-item-title {
    font-weight: 600;
}

.listview-template-item-date {
    font-size: small;
    margin: 0;
    line-height: 1em;
}

.left-header-template-root {
    color: #000;
    width: 50px;
    height: 50px;
    padding: 8px;
}

/*
*   IV. Panel block
*/
.clouds-authorization-panel {
    position: relative;
    display: table;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-row-span: 4;
    height: 100%;
    border-right: 1px solid #cecece;
}

.panel-head {
    display: table-header-group;
    width: 100%;
    height: 48px;
}

.panel-body {
    width: 100%;
    height: 162px;
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 0.1);
}

.panel-footer {
    display: table-footer-group;
    width: 100%;
    height: 384px; /* 8 elements in column; each element has 48px height */
}

.zoomed-out-btn {
    display: none;
}

.undo-changes {
    position: absolute;
    width: 100%;
    height: 48px;
    background-color: #FDC214;
    color: #000;
    bottom: 0;
    display: none;
}

.undo-change-btn {
    width: 144px;
    height: 48px;
    margin-left: 1em;
    color: #112233;
}

.close-undo-line-btn {
    position: absolute;
    right: 0px;
    height: 48px;
    width: 48px;
    color: #112233;
}

.auth-panel-btn, .auth-panel-btn:hover {
    border: none;
    height: 72px;
    margin: 4px 0;
    width: 100%;
    color: #000;
}

    .auth-panel-btn:hover {
        background-color: rgba(0, 0, 0, 0.3);
        cursor: pointer;
    }

.cloud-avatar {
    width: 48px;
    height: auto;
    float: left;
    background-color: rgba(0, 0, 0, 0.3);
}

.img-circle {
    border-radius: 50%;
}

.auth-btn-text {
    text-align: left;
    text-indent: 5em;
}

.online, .offline {
    border-top: none;
    border-bottom: none;
    border-right: none;
}

.online {
    border-left: 2px solid #128B44;
}

.offline {
    border-left: 2px solid #D82429;
}

/*
*   V. Settings Page
*/
.settings-page {
    color: #000;
}

.delete-db-panel {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 24px;
    background-color: #fdc214;
    color: #fff;
    text-align: center;
}

/* @Media */
@media only screen and (max-width: 500px) {
    .auth-btn-text {
        display: none;
    }
}
