.hotkey-line {
    display: flex;
    width: 100%;
    position: relative;
}

.key {
    border: 1px solid grey;
    border-radius: 4px;
    padding: 4px;
    line-height: 2em;
    text-align: center;
    width: 3em;
    height: 2em;
    color: grey;
}

.hotkey-plus {
    color: grey;
    padding: 0.8em 0;
    margin-left: 0.4em;
    margin-right: 0.4em;
}

.left-align {
    display: flex;
    width: 50%;
}

.right-align {
    text-align: left;
    position: relative;
    width: 50%;
}
