/*
*   N. Global elements;
*      Rewrites standard elements
*/
html, body {
    width: 100%;
    height: 100%;
    background-color: #fff;
}

/* Make image responsive http://www.w3schools.com/css/css_rwd_images.asp */
img {
    max-width: 100%;
    height: auto;
}

.win-pivot-header-area {
    background-color: flavor;
}

.win-splitview .win-splitview-contentwrapper {
    z-index: auto;
}


/* Remove Scroll from Pivotitem-content */
.win-pivot .win-pivot-surface {
    width: 100%;
    height: 100%;
    position: relative;
}

.win-pivot-item {
    position: relative;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    left: 0 !important;
}

    .win-pivot-item .win-pivot-item-content {
        margin: 0;
        padding: 0;
    }

/* Set the background color */
.win-appbar.control-app-bar .win-appbar-actionarea,
.win-appbar.control-app-bar .win-appbar-overflowarea {
    /* Set the AppBar background color */
    background-color: #fff;
}

.win-appbar.control-app-bar button:hover:active .win-commandimage,
.win-appbar.control-app-bar button:-ms-keyboard-active .win-commandimage,
.win-appbar.control-app-bar button[aria-checked=true] .win-commandimage {
    /* Set the pressed state command icon to the same color as the AppBar background */
}

/* Remove backgrounds from list view items and navbar buttons */
.win-listview .win-itembox, .win-itemcontainer .win-itembox,
.win-navbarcommand-button, .win-navbarcommand-splitbutton {
    background-color: transparent;
}

/* Make WinJS.UI.AutoSuggestBox flyout is visible */
.win-commandingsurface .win-commandingsurface-actionareacontainer,
.win-commandingsurface .win-commandingsurface-actionarea {
    overflow: visible;
}

/* Add margin 8px to the top and bottom of search box 
    (by default it's ignored from original styles) */
.win-autosuggestbox .win-autosuggestbox-input {
    margin: 8px 0;
    width: 100%;
}

/* Remove big gap setted by default between List View items
*/
.win-listview.win-groups .win-horizontal .win-groupleader {
    left: 70px;
    position: relative;
    margin: 0em 0.4em 0em 0em;
}

/*
*   I. Settings SplitView
*/

/* Change from relative to absolute */
#splitView {
    position: absolute;
}

/*
*   II. Auth SplitView
*/
#settingNavCommand {
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Changed default behavior */
.win-listview.win-groups > .win-horizontal .win-surface {
    margin-left: -50px;
}

.win-listview .win-groupheader {
    padding: 0;
    height: 1.5em;
    overflow: hidden;
    outline-width: 0.01px;
    outline-style: none;
    font-size: 34px;
    font-weight: 200;
    line-height: 1.176;
}

.smallListItem {
    width: 300px;
    height: 70px;
    padding: 5px;
    overflow: hidden;
    background-color: pink;
}

.mediumListItem {
    width: 300px;
    height: 160px;
    padding: 5px;
    overflow: hidden;
    background-color: lightgreen;
}

.largeListItem {
    width: 300px;
    height: 250px;
    padding: 5px;
    overflow: hidden;
    background-color: lightblue;
}

.zoomedIn-item-img {
    opacity: 0;
    width: 32px;
    height: 32px;
    position: relative;
    float: left;
    margin: 0.2em 0.4em;
}

.zoomedIn-item-detail {
    width: 100%;
    position: relative;
}


.zoomedIn-left-header-root {
    font-family: "Segoe MDL2 Assets","Symbols";
    width: 50px;
    height: 50px;
    padding: 8px;
    color: #112233;
}

#semanticZoomDiv {
    height: 100%;
    width: 100%;
}

#zoomedInListView {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.zoomedIn-item {
    width: 18em;
    height: 4em;
    line-height: 4em;
    color: #112233;
}


.zoomedIn-item-date {
    font-size: small;
}

#zoomedOutListView {
    height: 356px;
}

.zoomedOut-item {
    width: 48px;
    height: 48px;
    text-align: center;
}

/* Remove line-height from win-type-subtitle */
.zoomedOut-item-title {
    font-family: "Segoe MDL2 Assets","Symbols";
    line-height: 0.6;
}

.preview-item-body {
    height: 210px;
    background-color: #000;
}

.preview-item-img {
    width: 16px;
    height: 16px;
    position: relative;
    float: left;
    margin: 0.2em 0.4em;
}

.preview-item-text {
    margin: 0;
    position: relative;
    background-color: rgba(0, 0, 0, 0.3);
}


/*
*   II.i ---- Pivot
*/
#pivot {
    position: relative;
    height: calc(100% - 48px);
}

/*
* II.ii ----- Appbar
*/
.app-bar {
    position: relative;
    height: 48px;
}

.win-appbar {
    position: relative !important;
}

/*
*   II.iii - Undo change Popup
*/
.undo-changes {
    position: absolute;
    width: 100%;
    height: 48px;
    background-color: #FDC214;
    bottom: 0;
    display: none;
}

.undo-change-btn {
    width: 144px;
    height: 48px;
    margin-left: 1em;
    color: #112233;
}

.close-undo-line-btn {
    position: absolute;
    right: 0;
    height: 48px;
    width: 48px;
    color: #112233;
}

/* 
*  Settings Split View 
*/
.title {
    display: inline;
    font-size: x-large;
    left: 16px;
    top: 10px;
    vertical-align: top;
    position: relative;
}

.nav-commands {
    margin-top: 24px;
}

.nav-commands-body {
    padding: 0 15px;
}

/* 
*   Other 
*/
.cloud-avatar {
    width: 24px;
    letter-spacing: 0;
    vertical-align: middle;
    font-size: 16px;
    margin: 0;
    line-height: 24px;
    background-position: 0 0;
    background-origin: border-box;
    height: 24px;
    float: left;
    margin-left: 0;
}

.img-circle {
    border-radius: 50%;
}

/*
* Settings Panel
*/
.hotkey-line {
    display: flex;
    width: 100%;
    position: relative;
}

.key {
    border: 1px solid grey;
    border-radius: 4px;
    padding: 4px;
    line-height: 2em;
    text-align: center;
    width: 3em;
    height: 2em;
    color: grey;
}

.hotkey-plus {
    color: grey;
    padding: 0.8em 0;
    margin-left: 0.4em;
    margin-right: 0.4em;
}

.left-align {
    display: flex;
    width: 50%;
}

.right-align {
    text-align: left;
    position: relative;
    width: 50%;
}
